In [8]:
import csv
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
import numpy as np

In [9]:
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
crime_data = pd.read_csv("Crimes_-_2001_to_Present.csv", encoding="ISO-8859-1")

In [10]:
# Preview the first 5 lines of the loaded data 

sample_crime_data = crime_data.sample(n = 700000) 
sample_crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
4700092,6068154,HP168543,02/10/2008 12:00:00 AM,088XX S BUFFALO AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,10.0,46.0,07,1199581.0,1846917.0,2008,02/28/2018 03:56:25 PM,41.734739,-87.544401,"(41.734738996, -87.544400784)"
5558139,7447293,HS248508,04/09/2010 12:01:00 AM,080XX S MUSKEGON AVE,0453,BATTERY,AGGRAVATED PO: OTHER DANG WEAP,RESIDENCE,True,False,...,7.0,46.0,04B,1196565.0,1852179.0,2010,02/10/2018 03:50:01 PM,41.749254,-87.555276,"(41.74925367, -87.555275558)"
3732702,4452778,HL749925,11/22/2005 01:00:00 PM,002XX W ADAMS ST,0870,THEFT,POCKET-PICKING,RESTAURANT,False,False,...,2.0,32.0,06,1174663.0,1899413.0,2005,02/28/2018 03:56:25 PM,41.879384,-87.634124,"(41.879383612, -87.634124064)"
5376546,7161884,HR571737,10/04/2009 10:00:00 PM,0000X E 84TH ST,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,RESIDENCE,False,False,...,6.0,44.0,14,1177949.0,1849317.0,2009,02/28/2018 03:56:25 PM,41.741842,-87.623578,"(41.741841698, -87.62357769)"
491911,10246037,HY433866,09/21/2015 06:30:00 PM,009XX N LATROBE AVE,0460,BATTERY,SIMPLE,STREET,False,False,...,37.0,25.0,08B,1141189.0,1905658.0,2015,02/10/2018 03:50:01 PM,41.897203,-87.756882,"(41.897203234, -87.756882142)"

In [11]:
# Description of crime data
sample_crime_data.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,7.000000e+05,700000.00000,699997.000000,639522.000000,639661.00000,6.932760e+05,6.932760e+05,700000.000000,693276.000000,693276.000000
mean,6.532245e+06,1188.05687,11.285976,22.691531,37.54048,1.164560e+06,1.885751e+06,2008.919643,41.842097,-87.671643
std,3.222947e+06,702.77026,6.941990,13.843452,21.52425,1.704062e+04,3.257801e+04,5.472243,0.089641,0.061696
min,6.350000e+02,111.00000,1.000000,1.000000,0.00000,0.000000e+00,0.000000e+00,2001.000000,36.619446,-91.686566
25%,3.546622e+06,622.00000,6.000000,10.000000,23.00000,1.152998e+06,1.859197e+06,2004.000000,41.768940,-87.713613
50%,6.518630e+06,1111.00000,10.000000,22.000000,32.00000,1.166026e+06,1.890646e+06,2008.000000,41.855716,-87.666093
75%,9.328073e+06,1731.00000,17.000000,34.000000,57.00000,1.176362e+06,1.909239e+06,2013.000000,41.906734,-87.628294
max,1.209541e+07,2535.00000,31.000000,50.000000,77.00000,1.205119e+06,1.951532e+06,2020.000000,42.022644,-87.524529

In [12]:
uniq_crime_type = sample_crime_data['Primary Type'].unique() 
uniq_crime_type

# crime_data.columns

# Description

array(['MOTOR VEHICLE THEFT', 'BATTERY', 'THEFT', 'CRIMINAL DAMAGE',
       'ASSAULT', 'NARCOTICS', 'CRIMINAL TRESPASS', 'OTHER OFFENSE',
       'WEAPONS VIOLATION', 'DECEPTIVE PRACTICE', 'BURGLARY', 'ROBBERY',
       'PROSTITUTION', 'OFFENSE INVOLVING CHILDREN', 'ARSON',
       'CRIM SEXUAL ASSAULT', 'PUBLIC PEACE VIOLATION',
       'LIQUOR LAW VIOLATION', 'INTERFERENCE WITH PUBLIC OFFICER',
       'KIDNAPPING', 'SEX OFFENSE', 'INTIMIDATION', 'GAMBLING',
       'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'OBSCENITY',
       'CRIMINAL SEXUAL ASSAULT', 'STALKING', 'NON-CRIMINAL',
       'PUBLIC INDECENCY', 'OTHER NARCOTIC VIOLATION', 'RITUALISM',
       'HUMAN TRAFFICKING', 'NON - CRIMINAL',
       'NON-CRIMINAL (SUBJECT SPECIFIED)'], dtype=object)

In [13]:
uniq_crime_desc = crime_data['FBI Code'].unique() 
uniq_crime_desc

array(['11', '02', '05', '06', '17', '14', '26', '20', '08B', '12', '08A',
       '18', '10', '07', '03', '13', '15', '04B', '04A', '22', '16', '24',
       '09', '19', '01A', '01B'], dtype=object)

In [14]:
# crime data without null value in Longitude ... assume the same null for latitude
not_null_crime_data = sample_crime_data[sample_crime_data['Longitude'].notnull()]
not_null_crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
4700092,6068154,HP168543,02/10/2008 12:00:00 AM,088XX S BUFFALO AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,10.0,46.0,07,1199581.0,1846917.0,2008,02/28/2018 03:56:25 PM,41.734739,-87.544401,"(41.734738996, -87.544400784)"
5558139,7447293,HS248508,04/09/2010 12:01:00 AM,080XX S MUSKEGON AVE,0453,BATTERY,AGGRAVATED PO: OTHER DANG WEAP,RESIDENCE,True,False,...,7.0,46.0,04B,1196565.0,1852179.0,2010,02/10/2018 03:50:01 PM,41.749254,-87.555276,"(41.74925367, -87.555275558)"
3732702,4452778,HL749925,11/22/2005 01:00:00 PM,002XX W ADAMS ST,0870,THEFT,POCKET-PICKING,RESTAURANT,False,False,...,2.0,32.0,06,1174663.0,1899413.0,2005,02/28/2018 03:56:25 PM,41.879384,-87.634124,"(41.879383612, -87.634124064)"
5376546,7161884,HR571737,10/04/2009 10:00:00 PM,0000X E 84TH ST,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,RESIDENCE,False,False,...,6.0,44.0,14,1177949.0,1849317.0,2009,02/28/2018 03:56:25 PM,41.741842,-87.623578,"(41.741841698, -87.62357769)"
491911,10246037,HY433866,09/21/2015 06:30:00 PM,009XX N LATROBE AVE,0460,BATTERY,SIMPLE,STREET,False,False,...,37.0,25.0,08B,1141189.0,1905658.0,2015,02/10/2018 03:50:01 PM,41.897203,-87.756882,"(41.897203234, -87.756882142)"

In [15]:
# Added column "Crime" with FBI Uniform crime report

not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '01A', 'Crime'] = ' Murder and Nonnegligent Manslaughter'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '01B', 'Crime'] = 'Manslaughter by Negligence'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '02', 'Crime'] = 'Forcible Rape'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '03', 'Crime'] = 'Robbery'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '04A', 'Crime'] = 'Aggravated Assaul- Firearm'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '04B', 'Crime'] = 'Aggravated Assaul-Knife or Cutting Instrument'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '05', 'Crime'] = 'Burglary'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '06', 'Crime'] = 'Larceny-thefT'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '07', 'Crime'] = 'Motor Vehicle Thef'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '08A', 'Crime'] = 'Arson-Structural'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '08B', 'Crime'] = 'Arson-Structural'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '09', 'Crime'] = 'Other Assaults'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '10', 'Crime'] = 'Forgery and Counterfeiting'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '12', 'Crime'] = 'Embezzlement'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '13', 'Crime'] = 'Stolen Property: Buying, Receiving, Possessing'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '14', 'Crime'] = 'Vandalism'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '15', 'Crime'] = 'Weapons: Carrying, Possessing, etc'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '16', 'Crime'] = ' Prostitution and Commercialized Vice'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '17', 'Crime'] = 'Sex Offenses'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '18', 'Crime'] = 'Drug Abuse Violations'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '19', 'Crime'] = 'Gambling'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '20', 'Crime'] = 'Offenses Against the Family and Children'
not_null_crime_data.loc[not_null_crime_data['FBI Code'] == '26', 'Crime'] = 'All Other Offenses'



not_null_crime_data.loc[not_null_crime_data['Primary Type'] == 'BATTERY', 'Primary Type'] = 'ASSAULT'

In [16]:
uniq_crime_type = not_null_crime_data['Primary Type'].unique() 
uniq_crime_type

array(['MOTOR VEHICLE THEFT', 'ASSAULT', 'THEFT', 'CRIMINAL DAMAGE',
       'NARCOTICS', 'CRIMINAL TRESPASS', 'OTHER OFFENSE',
       'WEAPONS VIOLATION', 'DECEPTIVE PRACTICE', 'BURGLARY', 'ROBBERY',
       'PROSTITUTION', 'OFFENSE INVOLVING CHILDREN', 'ARSON',
       'CRIM SEXUAL ASSAULT', 'PUBLIC PEACE VIOLATION',
       'LIQUOR LAW VIOLATION', 'INTERFERENCE WITH PUBLIC OFFICER',
       'KIDNAPPING', 'SEX OFFENSE', 'INTIMIDATION', 'GAMBLING',
       'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'OBSCENITY',
       'CRIMINAL SEXUAL ASSAULT', 'STALKING', 'NON-CRIMINAL',
       'PUBLIC INDECENCY', 'OTHER NARCOTIC VIOLATION', 'RITUALISM',
       'HUMAN TRAFFICKING', 'NON - CRIMINAL',
       'NON-CRIMINAL (SUBJECT SPECIFIED)'], dtype=object)

In [17]:
# Describe filtered data 
not_null_crime_data.describe()

# not_null_crime_data.head()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.932760e+05,693276.000000,693273.000000,633738.000000,633874.000000,6.932760e+05,6.932760e+05,693276.000000,693276.000000,693276.000000
mean,6.529273e+06,1187.883295,11.284950,22.686304,37.553703,1.164560e+06,1.885751e+06,2008.925578,41.842097,-87.671643
std,3.217615e+06,702.681552,6.940974,13.842171,21.525277,1.704062e+04,3.257801e+04,5.467088,0.089641,0.061696
min,6.350000e+02,111.000000,1.000000,1.000000,0.000000,0.000000e+00,0.000000e+00,2001.000000,36.619446,-91.686566
25%,3.553130e+06,622.000000,6.000000,10.000000,23.000000,1.152998e+06,1.859197e+06,2004.000000,41.768940,-87.713613
50%,6.513434e+06,1034.000000,10.000000,22.000000,32.000000,1.166026e+06,1.890646e+06,2008.000000,41.855716,-87.666093
75%,9.316212e+06,1731.000000,17.000000,34.000000,57.000000,1.176362e+06,1.909239e+06,2013.000000,41.906734,-87.628294
max,1.209408e+07,2535.000000,31.000000,50.000000,77.000000,1.205119e+06,1.951532e+06,2020.000000,42.022644,-87.524529

In [18]:
not_null_crime_data.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Crime'],
      dtype='object')

In [19]:
# new = old.filter(['A','B','D'], axis=1)

final_crime_data = not_null_crime_data.filter(['ID','Date','Primary Type', 'Latitude','Longitude' ], axis=1)
final_crime_data.describe()

                 ID       Latitude      Longitude
count  6.932760e+05  693276.000000  693276.000000
mean   6.529273e+06      41.842097     -87.671643
std    3.217615e+06       0.089641       0.061696
min    6.350000e+02      36.619446     -91.686566
25%    3.553130e+06      41.768940     -87.713613
50%    6.513434e+06      41.855716     -87.666093
75%    9.316212e+06      41.906734     -87.628294
max    1.209408e+07      42.022644     -87.524529

In [20]:
final_crime_data['Year'] = final_crime_data.apply(lambda row: row.Date[6:10], axis = 1)
final_crime_data

,ID,Date,Primary Type,Latitude,Longitude,Year
4700092,6068154,02/10/2008 12:00:00 AM,MOTOR VEHICLE THEFT,41.734739,-87.544401,2008
5558139,7447293,04/09/2010 12:01:00 AM,ASSAULT,41.749254,-87.555276,2010
3732702,4452778,11/22/2005 01:00:00 PM,THEFT,41.879384,-87.634124,2005
5376546,7161884,10/04/2009 10:00:00 PM,CRIMINAL DAMAGE,41.741842,-87.623578,2009
491911,10246037,09/21/2015 06:30:00 PM,ASSAULT,41.897203,-87.756882,2015
...,...,...,...,...,...,...
4143956,5099910,11/04/2006 09:00:00 PM,CRIMINAL DAMAGE,41.961820,-87.764823,2006
4972623,6519976,09/24/2008 05:20:00 PM,ASSAULT,41.768383,-87.644495,2008
1058721,11150152,11/15/2017 11:55:00 AM,ASSAULT,41.707519,-87.601839,2017
1066439,11160361,11/26/2017 12:00:00 PM,OTHER OFFENSE,41.968967,-87.731749,2017
3073997,3389977,06/15/2004 04:07:24 AM,BURGLARY,41.877477,-87.692569,2004

In [21]:
x = "01/06/2014 01:00:00 PM"

x[6:10]

'2014'

In [22]:
final_crime_data.rename(columns={'Primary Type': 'Crime'}, inplace=True)
final_crime_data

,ID,Date,Crime,Latitude,Longitude,Year
4700092,6068154,02/10/2008 12:00:00 AM,MOTOR VEHICLE THEFT,41.734739,-87.544401,2008
5558139,7447293,04/09/2010 12:01:00 AM,ASSAULT,41.749254,-87.555276,2010
3732702,4452778,11/22/2005 01:00:00 PM,THEFT,41.879384,-87.634124,2005
5376546,7161884,10/04/2009 10:00:00 PM,CRIMINAL DAMAGE,41.741842,-87.623578,2009
491911,10246037,09/21/2015 06:30:00 PM,ASSAULT,41.897203,-87.756882,2015
...,...,...,...,...,...,...
4143956,5099910,11/04/2006 09:00:00 PM,CRIMINAL DAMAGE,41.961820,-87.764823,2006
4972623,6519976,09/24/2008 05:20:00 PM,ASSAULT,41.768383,-87.644495,2008
1058721,11150152,11/15/2017 11:55:00 AM,ASSAULT,41.707519,-87.601839,2017
1066439,11160361,11/26/2017 12:00:00 PM,OTHER OFFENSE,41.968967,-87.731749,2017
3073997,3389977,06/15/2004 04:07:24 AM,BURGLARY,41.877477,-87.692569,2004

In [25]:
# convert year to numeric
final_crime_data["Year"] = pd.to_numeric(final_crime_data["Year"])

In [26]:
# Data between 2011 and 2018
final_crime_data = final_crime_data[final_crime_data['Year'].between(2011, 2018)]
final_crime_data

,ID,Date,Crime,Latitude,Longitude,Year
491911,10246037,09/21/2015 06:30:00 PM,ASSAULT,41.897203,-87.756882,2015
557487,10357789,12/11/2015 06:30:00 PM,THEFT,41.924384,-87.641442,2015
6041492,8200986,08/04/2011 01:45:00 AM,THEFT,41.926540,-87.656073,2011
6266376,8555704,04/06/2012 03:30:00 PM,CRIMINAL TRESPASS,41.878224,-87.627131,2012
410148,10103671,03/01/2014 12:01:00 AM,THEFT,41.879151,-87.651172,2014
...,...,...,...,...,...,...
1261937,11428162,08/27/2018 11:55:00 PM,ROBBERY,41.874374,-87.724012,2018
1170538,11304714,05/04/2018 09:45:00 AM,ASSAULT,41.871371,-87.627514,2018
1075101,11172276,12/08/2017 03:40:00 PM,ASSAULT,41.814317,-87.606674,2017
1058721,11150152,11/15/2017 11:55:00 AM,ASSAULT,41.707519,-87.601839,2017
1066439,11160361,11/26/2017 12:00:00 PM,OTHER OFFENSE,41.968967,-87.731749,2017

In [27]:
# Create the connection using the imported create_engine function and 
# then invoking the connect method on it.
engine = create_engine('sqlite:///Chicagocrime.db', echo=True)
sqlite_connection = engine.connect()

2020-07-12 15:30:08,997 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-12 15:30:08,999 INFO sqlalchemy.engine.base.Engine ()
2020-07-12 15:30:09,001 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-12 15:30:09,001 INFO sqlalchemy.engine.base.Engine ()

In [28]:
sqlite_table = "criminals_mapps1"
final_crime_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')
sqlite_connection.close()

2020-07-12 15:30:59,035 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("criminals_mapps1")
2020-07-12 15:30:59,035 INFO sqlalchemy.engine.base.Engine ()
2020-07-12 15:30:59,037 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("criminals_mapps1")
2020-07-12 15:30:59,038 INFO sqlalchemy.engine.base.Engine ()
2020-07-12 15:30:59,041 INFO sqlalchemy.engine.base.Engine
CREATE TABLE criminals_mapps1 (
	"index" BIGINT,
	"ID" BIGINT,
	"Date" TEXT,
	"Crime" TEXT,
	"Latitude" FLOAT,
	"Longitude" FLOAT,
	"Year" BIGINT
)


2020-07-12 15:30:59,041 INFO sqlalchemy.engine.base.Engine ()
2020-07-12 15:30:59,154 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-12 15:30:59,155 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_criminals_mapps1_index ON criminals_mapps1 ("index")
2020-07-12 15:30:59,156 INFO sqlalchemy.engine.base.Engine ()
2020-07-12 15:30:59,237 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-12 15:30:59,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-12 15:31:00,910 INFO sqlalchemy.engine.base.Engine INSERT INTO criminals_mapps1 ("index", "ID", "Date", "Crime", "Latitude", "Longitude", "Year") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-07-12 15:31:00,911 INFO sqlalchemy.engine.base.Engine ((491911, 10246037, '09/21/2015 06:30:00 PM', 'ASSAULT', 41.897203234, -87.75688214200001, 2015), (557487, 10357789, '12/11/2015 06:30:00 PM', 'THEFT', 41.924383963000004, -87.64144151299999, 2015), (6041492, 8200986, '08/04/2011 01:45:00 AM', 'THEFT', 41.926540341999996, -87.65607312200001, 2011), (6266376, 8555704, '04/06/2012 03:30:00 PM', 'CRIMINAL TRESPASS', 41.878223911999996, -87.627130568, 2012), (410148, 10103671, '03/01/2014 12:01:00 AM', 'THEFT', 41.879151347, -87.651172178, 2014), (794139, 10753605, '11/14/2016 03:00:00 PM', 'ASSAULT', 41.906438060999996, -87.71021041799999, 2016), (7123767, 9960443, '02/12/2015 03:00:00 AM', 'MOTOR VEHICLE THEFT', 41.895429205, -87.71957333299999, 2015), (6125443, 8331310, '10/19/2011 02:15:00 PM', 'OTHER OFFENSE', 41.721805380999996, -87.585065058, 2011)  ... displaying 10 of 227366 total bound parameter sets ...  (1058721, 11150152, '11/15/2017 11:55:00 AM', 'ASSAULT', 41.707519433, -87.601839023, 2017), (1066439, 11160361, '11/26/2017 12:00:00 PM', 'OTHER OFFENSE', 41.968967499, -87.731749135, 2017))
2020-07-12 15:31:02,482 INFO sqlalchemy.engine.base.Engine COMMIT